$color-grey-dark-1 :#3c4542;
$color-grey-dark-2 :#434948;
$color-grey-dark-3:#606362;


$color-secondary:orange;

$color-orange:#F26100;
$color-orange-light:#FF8E42;
$color-orange-dark:#943B00;

$color-white:#fff;
$color-black:#000;
$color-brown:#B29172;

$color-button-text:#1F1F1F;

//Grey color variations
$color-grey:#808080;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #ADB0B6;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccceec;
$color-grey-light-5:#dcdcdc;


// FONT VARIABLES
$default-font-size:1.6rem;
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


