.responsive {
    width: 30%;
    height: auto;
}

.top-header {
    width: 100%;
    padding-top: 10px;
    padding-right: 24px;
}

.column {
    float: left;
    height: 45px;
    vertical-align: top;
}


.column1 {
    width: 30%;
}

.column2 {
    width: 70%;
    text-align: right;
}

.carousel {
    margin-top: 63px;
}


.menu {
    padding: 2rem 0;
    font-size: 1.4rem;

    &__navigation {
        padding-top: 0rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
        & button {
            display: none;
        }
    }


    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: green;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

}

.container {
    width: 100%;
    margin: 0 auto;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 65px;
    cursor: pointer;
    font-size: 30px;
}

ul.tabs li.current {
    /*background: #ededed;*/
    /*color: #222;*/
    border-bottom: 4px solid #7ed56f;
}

.tab-content {
    display: none;
    /*background: #ededed;*/
}

.tab-content.current {
    display: inherit;
}




.card {
    height: auto;
    background-color: #fff;
    margin-bottom: 40px;
    margin-left: 12px;
    margin-right: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-in-out .1s;
}

.image-box {
    padding: 0px 10px;
}

.card-desktop {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
}

.card .top-half {
    width: 100%;
}

.card .bottom-half {
    padding-top: 4%;
    height: 135px;
    padding-bottom: 10px;
    opacity: .87;
    font-family: BrandonTextWeb-Regular, Helvetica\ Neue, Helvetica, Roboto, Arial, sans-serif;
}

card .bottom-half .last-line {
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
    flex: 1;
    position: relative;
}

.price {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 5px;
}

.price.original .validity {
    color: #000;
}

.offer-price {
    color: #006400;
    align-items: center;
    font-weight: bold;
}

.card-desktop .add-cart {
    margin-right: 7px;
}

.add-cart:hover {
    background-color: #f1f1f1;
    transition: background-color .3s ease-in-out;
}

.add-cart {

    display: flex;

    align-items: center;

    justify-content: center;
    width: 9vw;
    border-radius: 20px;

    color: #000;
    font-size: 10px;
    border: 1px solid #d8d8d8;
    height: 27px;
    padding: 2px 7px;
}

.margin0 {
    margin: 0;
}

.buy-div {

    display: flex;

    font-size: 14px;
    float: right;
    right: 10px;
}




.cart-image {
    padding: 5px 0 10px 10px;
}

.product-cart-image {
    padding: 5px 0 10px 30px;
}

.product-cart-imageRemove {
    padding: 5px 0 10px 30px;
}

.emptycart-image {
    width: 100%;
    height: auto;
}

.add-cart-remove {

    display: flex;

    align-items: center;

    justify-content: center;
    width: 9vw;
    border-radius: 20px;

    color: #000;
    font-size: 10px;
    border: 1px solid #d8d8d8;
    height: 27px;
    padding: 2px 7px;
}

.quantity-textbox {
    width: 40px;
    text-align: center;
}

.order-summary {
    margin-top: 70px;
}

.price-detail {
    color: #006400;
    padding-left: 150px;
    font-size: 20px;
    padding-bottom: 20px;
}
.price-detail-head {
    color: #006400;
    padding-left: 150px;
    font-size: 25px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .add-cart {
        width: 30vw;
        padding: 2px 10px;
    }
    .card-desktop .add-cart {
        margin-right: -14px;
    }

    .add-cart-remove {
        width: 85px;
    }
    .price-detail {
        padding-left: 0px;
    }
    .price-detail-head {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .add-cart {
        width: 30vw;
        padding: 2px 10px;
    }
    .card-desktop .add-cart {
        margin-right: -14px;
    }
    .add-cart-remove {
        width: 85px;
    }
     .price-detail {
        padding-left: 0px;
    }
    .price-detail-head {
        padding-left: 0px;
    }

}