///////Add More and plus minus button//////////////////////
//////////////////////////////////////////////////////////

.btn-quantity{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__minus::before{
        content: "";
        display: inline-block;
        height: 3px;
        width: 1rem;
        background-color: $color-orange;
        font-size: 25rem;
        cursor: pointer;
    }

    &__plus{
    display: inline-block;
    opacity: 1;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    color: $color-orange
    }

    &__value{
        width:5rem;
        height:2rem;
        display: inline-block;
        text-align: center;
        font-size: 1.3rem;
    }

    &__add{
    width: 8rem;
    height: 2.5rem;
    color: $color-orange-dark;
    border: 1px solid $color-grey-light-4;
    font-size: 1.2rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    }
}

.btn {
    background-color: $color-orange-light;
    color: $color-black;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.5rem 7rem;
    cursor: pointer;
    transition: all .2s;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;

    @include respond(phone)  {
          width: 100%;
          text-align: center;
          margin-bottom: 1rem;
     }

    &:hover{
        background-color: $color-orange;
     }
}