///////////////////SEARCH/////////////////////
/////////////////////////////////////////////

.search {
    @include respond(tab-port)  {
        grid-column: 2/-1;
     }

    grid-column: 2/3;
    display: flex;
    align-content: center;
    justify-content: center;

    &__input {
        background-color: $color-white;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 70%;
        transition: all .2s;
        margin-right: -3.25rem;


        &:focus {
            outline: none;
            width: 80%;
            background-color: $color-white;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-black;
        }
    }

    &__button {
        border: none;
        background-color: $color-white;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-1;
        
    }
}

.emptyResult{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.search-mobile{
    height: 3.5rem;
}

