// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;
$color-primary-orange: #e67e22;
$color-primary-red: #dd0031;
$color-secondary: #101d2c;
$color-orange-secondary: #cf6d17;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-green: #60b246;
$color-subtle-green: #06652bad;

$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-3: #777;
$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
