.footer {
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba($color-secondary, .1), rgba($color-secondary, .3));
    width: 100%;
    &__navigation {
        margin-left: $left-right-margin;
        margin-right: $left-right-margin;
        @include responsive(phone) {
            margin-left: $left-right-margin-phone;
            margin-right: $left-right-margin-phone;
            padding-bottom: $left-right-margin-phone;
        }
        &-logo {
            display: flex;
            align-items: center;
            padding-top: 10px;
            &:before,
            &:after {
                flex: 1;
                content: '';
                height: 1px;
                background: $color-secondary;
            }
        }
        &-links {
            text-align: center;
            &-link {
                text-decoration: none;
                text-transform: uppercase;
                color: $color-black;
                font-size: .12rem;
                &:not(:last-child) {
                    padding-right: .2rem;
                }
            }
            &-link:hover {
                text-decoration: underline;
            }
        }
    }
}