@import './../components/_common';

$featureheightmobile: 70;
$featureheight: 60;

$headerheight_l: 15;
$headerheight_s: 8;

$boxwidth: 20vw;


@mixin showAddToCart() {
    &:hover .add-to-cart-container,
    &:active .add-to-cart-container {
        transform: scaleY(1);
    }
}

@mixin hideDesc() {
    &:hover .description,
    &:active .description {
        transform: scaleY(0);
        height: 0px;
    }
}

@mixin zoomCatLogo() {
    &:hover,
    &:active {
        .category-logo {
            transform: scale(1.1);
            transition: .2s ease;
            box-shadow: 2px 5px 8px #9998a2;
            border-radius: 30px;
        }
        span {
            color: #020202;
        }
        cursor: pointer;
        text-shadow: 1px 1px #9998a2;
    }
    &:not(:active) .category-logo {
        transform: scale(1);
        transition: .4s;
    }
}

.menu-container {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}

.featured-carousel {
    @include xheight($featureheightmobile);
    background: linear-gradient(135deg, #363404, #070d29);


}

.menu {
    display: flex;

}


.full-menu {
    .menu-item {
        flex-basis: 23%;
    }
    & > h2 {
        width: 100%;
        text-align: center;
        background-color: #fff;
    }
}

.menu-items {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.menu-item {
    @include select();
    @include hideDesc();
    @include showAddToCart();
    @include xheight(50);
    padding: 1%; //margin: 0 auto;   
    flex-basis: 29.5%;
    display: flex; //min-width: 300px;
    width: $boxwidth;
    flex-direction: column;
    div {
        overflow: hidden;
        width: 100%;
        img {
            @include zoom();
            width: 100%;
            height: auto;
        }
        span {
            text-align: center;
            width: 45%;
            display: inline-block;
        }
        .description {
            width: 100%;
            padding: 5px;
            text-align: center;
            transform-origin: top;
            transition: transform 0.3s ease;
        }
        input {
            width: 15%;
            border: 1px solid #535353;
        }
        input[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            border: 1px solid;
            width: 20px;
            height: 20px;
            transform: translate(-15px, 5px);
        }
        input[type='radio']:checked {
            border: 3px solid #1c3fd1;
        }
        .label {
            transform: translateX(7%);
        }
        a {
            text-decoration: none;
            border: 1px solid #000;
            border-radius: 50px;
            padding: 0 8px 0 8px;
        }

    }
    h3 {
        text-align: center;
    }
    .price-half {
        display: none;
    }
    .add-to-cart-btn {
        @include setFont(.6, 500);
    }
}

.menu-item-container {
    padding-left: 10px; //   min-width: 65vw;
    width: 100%;
}


.item-description {
    position: relative;
    flex-grow: 1; //min-height: 115px;
}

.add-to-cart-container {
    display: flex;
    position: absolute;
    padding: 1px;
    transform: scaleY(0);
    top: 0;
    transform-origin: bottom;
    transition: transform 0.3s ease;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fafafa;
    height: 100%;
    button {
        width: 100%;
        height: 30px;
        cursor: pointer;
        background-color: #388e3c;
        color: #fff;
        margin-top: 2%;
    }
    div {
        padding: 1%;
    }
    & div:last-of-type {
        margin-top: 3%;
        & span:last-of-type {
            transform: scale(.85);
        }
    }
}

div.add-btn-dummy-container {
    position: absolute;
    right: 0;
    top: 40%;
    width: 10vh;
    button {
        height: 5vh;
        border: 1px solid #388e3c;
        color: #388e3c;
        background-color: #fff;
        width: 100%;
    }
}

.category {
    // margin: 0 5% 0% 5%;
    background-color: #fff;
    margin-bottom: 0;
    h2 {
        margin-left: 2%;
    }
}

.category-placeholder {
    @include xheight($headerheight_s+1);
}

section:target::before {

    padding-top: 100px;

}

.categories {
    top: 8vh;
    position: -webkit-sticky;
    position: -webkit-sticky;
    position: sticky; //min-width: 200px;
    box-shadow: 1px 3px 5px #9998a2;
    @include xheight(85);
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
    .mobile-category-icon {
        display: none;
    }
    ul {
        margin: 0 auto;
        list-style: none;
        height: 100%;
        display: flex;
        padding-top: 20%;
        padding-bottom: 20%;
        flex-direction: column;
        justify-content: space-around;
    }
    div {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        min-width: $boxwidth;
    }
    li {
        display: flex;
        align-items: center;
        min-height: 75px;
        padding-left: 20px;
        position: relative;
        @include zoomCatLogo();
        a {
            width: 100%;
        }
    }
    span {
        position: absolute;
        height: 20px;
        top: 50%;
        margin-top: -10px;
        padding-left: 10px;
        color: #777777;
    }
    img {}
}

.search-result-section {
    display: none;
}

.search-bar {
    background-color: #fff;
    margin: 5% 2% 0% 2%;
    position: relative;

    .search-bar-input {
        position: relative;
        width: 80%;
    }
    input {
        width: 95%;
        border-radius: 30px;
        border-style: groove;
        height: 5.5vh;
        padding-left: 20px;
        z-index: 900;
        position: absolute;
        text-align: left;
    }
    input:focus {
        outline: none;
        background-color: #fff;
    }

    .search-results {
        position: absolute;
        border-style: groove;
        border-width: 2px;
        overflow-y: auto;
        max-height: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px;
        top: 35px;
        width: 70%;
        z-index: 800;
        background-color: #fff;
    }
    .search-results > * {
        padding: 5px;
        a {
            text-decoration: none;
            color: #504d4d;
        }

    }
    .search-result {
        a {
            display: inline-block;
            width: 100%;
        }
        &:hover {
            background-color: rgba(247, 169, 25, 0.5);
        }
    }
    img {
        z-index: 900;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 7%;
        height: 5vh;
        transform: scale(1.1);
        &:hover {
            transform: scale(1.2);
        }
        &:active {
            transform: scale(1.3);
        }
    }
    .close-icon {
        margin-right: -10%;
    }

}

.featured-carousel {
    @include xheight($featureheight);
    @include xminHeight($featureheight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #919191;
    overflow: hidden;
    .slider {
        display: flex;
        position: absolute;
        width: 85%;
        max-height: 90%;
        overflow: hidden;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .left {
        position: absolute;
        left: 0;
        margin-left: 20px;
    }
    .right {
        position: absolute;
        right: 0;
        margin-right: 20px;
    }
}

.featured-item {
    height: 90%;
    min-width: 100%;
    justify-content: center;

    display: flex;
    display: flex;
    justify-content: center;
    position: relative;
    img {

        max-width: 80%;
        position: relative;
    }
}

.discount-text {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    top: 5%;
    width: 30%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.featured-item-desc {
    position: absolute;
    color: #fff;
    bottom: 10%;
    font-size: 28px;
    font-weight: 800;
    width: 30%;
    letter-spacing: 3px;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-device-width: 320px) and (max-device-width: 900px) {

    .menu {
        display: block;
    }

    .menu-item-container {
        background-color: #fff;
        margin: 0 auto;
        padding: 0;
        transform: translateY(-2%);
    }

    .categories {
        box-shadow: none;
        max-width: 50vw;
        max-height: 40vh;
        z-index: 100;
        top: 18vh;
        background-color: #fff0;
        div {
            margin: 0;
            height: auto;
            width: auto;
        }
        .mobile-category-icon {
            display: block;
            img {
                width: 40%;
            }
        }
        .mobile-category-icon:hover,
        .mobile-category-icon:active {
            & ~ .categories-container {
                display: block;
                transform: scale(1, 1);
                transform: translate(40%, -3%);
                transition-duration: .5s;
            }
        }
        .categories-container:hover,
        .categories-container:active {
            & {
                display: block;
                transform: scale(1, 1);
                transform: translate(40%, -3%);
                transition-duration: .5s;
            }
        }

        .categories-container {
            transform: scale(0, 0);
            transform-origin: top;
            .category-logo {
                width: 20%;
            }
            ul {
                height: 100%;
                justify-content: flex-start;
                padding: 0; //width: 100px;
            }
            li {
                border: 1px solid #989090;
                background-color: #fff;
                min-height: 10vh;
            }
            span {
                @include setFont(.7, 400);
            }

        }
    }

    .menu-item {
        flex-basis: 100%;
        margin-bottom: 10px;
        @include xheight(63);
        div {
            input[type=radio] {
                width: 50px;
                height: 50px;
                transform: translate(-40px, 10px);
            }
            a {
                padding: 0 20px;
            }
        }

    }

    .full-menu {
        transform: translateY(-2%);

        .menu-item {
            flex-basis: 100%;
        }
    }

    .item-description {
        button {
            margin-top: 1%;
            height: 125px;
        }
    }

}

@media (min-width: 1001px) and (max-width: 1366px) and (orientation: portrait) {
    .menu-container {
        margin-left: 1%;
        margin-right: 1%;
    }
    .full-menu {
        .menu-item {
            flex-basis: 33%;
            margin-bottom: 10px;
            @include xheight(35);
        }
    }
    .menu-item {
        flex-basis: 50%;
        margin-bottom: 10px;
        @include xheight(35);
    }
    .categories {
        div {
            min-width: 31vw;
        }

        @include xheight(65);
    }
}
