@import 'common';

footer {
    width: 100%;
    background-color: #6c6c6c;
    span {
        color: #fff;
        em {
            color: #fff;
        }
    }
    div {
        padding-top: 2%;
    }
}

.follow-us {
    span {
        margin-right: 5%;
        @include setFont(.75, 700);
    }
}

.footer-desc {
    display: flex;
}

.privacy {
    span {
        @include setFont(.5, 400);
    }
}
