.intro {
    grid-column: full-start / full-end; 

    background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('../img/hero.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 2rem;
    height: 70vh;
}