.nav-mobile {
    background-color: $color-secondary;
    width: 50vw;
    z-index: 2500;
    position: absolute;
    left: -50vw;
    height: 100vh;
    transition: all 1s;
    @include respond(tab-port) {
        width: 60vw;
        left: -60vw;
        top: -9rem;
        height: 110vh;
    }

    @include respond(phone) {
        width: 80vw;
        left: -80vw;
    }
    &__items {
        position: relative;
        transition: all .2s;
        &--with-sub::after {
            content: '\276E';
            display: inline-block;
            font-size: 3rem;
            color: $color-white;
            position: absolute;
            right: 15rem;
            transform: rotate(-90deg);
            bottom: .5rem;
            @media only screen and(max-width: 28.125em) {
                right: 10rem;
            }
            @media only screen and(max-width: 23.4375em) {
                right: 5rem;
            }
        }
    }
    &__user{
        padding: 4rem;
        border-bottom: 1px solid $color-white; 
        @media only screen and(max-width: 23.4375em) {
            padding: 4rem 2rem;
        }
    }
    &__list{
        list-style: none;
        padding: 5rem 0rem 0 5rem;
        margin-top: 5rem;
        @media only screen and(max-width: 28.125em) {
            padding: 5rem 0rem 0 3rem;
        }
    }
    &--active {
        transform: translateX(50vw);
        @include respond(tab-port) {
            transform: translateX(60vw);
        }
        @include respond(phone) {
            transform: translateX(80vw);
        }
    }
    &__edit{
        font-size: 1.6rem;
        color: $color-white;
        text-transform: uppercase;
        margin-left: 10rem;
    }
    
    &__button {
        background-color: $color-primary-orange;
        height: 7rem;
        width: 7rem;
        position: absolute;
        top: -8rem;
        left: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        @include respond(phone) {
            left: 2rem;
        }
        @media only screen and(max-width: 28.125em) {
            left: 1rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 6.5rem;
        left: 6.5rem;
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__icon-burger {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon-burger::before {
        top: -1rem;
    }

    &__button:hover &__icon-burger::after {
        top: 1rem;
    }

    &__links:link,
    &__links:visited {
        padding: 8px 0;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        font-size:2.6rem;
        display: flex;
        align-items: center;
        transition: all .2s;
        font-family: $font-primary;
        font-weight: 300;
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-white;
        margin-right: 4rem;
        &--user {
            height: 8rem;
            width: 8rem;
        }
    }
}

.sub-nav__mobile {
    list-style: none;
    display: none;
    &-links {
        font-size: 1.8rem;
        font-family: $font-primary;
        color: $color-white;
        text-decoration: none;
    }
    &-items {
        position: relative;
        left: 12rem;
    
    }
}

.sub-active::after {
    transform: rotate(90deg);
    bottom: 5.5rem;
}