//****** typography information of the classes used***************
/////////////////////////////////////////////////////////////////

body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-secondary{
    color: $color-orange;
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 400;
}

.heading-tertiary{
    font-size: 2.3rem;
    font-weight: 400;
}

