.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--slim{
        padding: .8rem 4rem !important;
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--red {
        background-color: var(--color-fda-primary);
        color: $color-white;

        &::after {
            background-color: var(--color-fda-primary);
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &__combo {
        background-color: var(--color-fda-primary);
        border-radius: 3px;
    }
    ///// Add to cart button
    &__addtocart{

        display: block;
        text-transform: uppercase;
        text-decoration: none;
        padding: .2rem 1.2rem;        
        border: 2px var(--color-fda-primary) solid;        
        position: relative;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 3px;
        background-color: #fff; 
        cursor: pointer;
        color: var(--color-fda-primary);
        display:inline-block;         
        width: 4rem;
        transition: all .12s linear;
        overflow: hidden;
        line-height: 20px;
        outline: 0;
        height: 28px;

        &-addicon{

            font-size: 2rem;
            line-height: 2rem;        
            display: inline-block;     
        }
        &-addtext{
            line-height: 2rem;
            font-size: 1.3rem;
            //display: inline-block;
            position: relative;
            top: -2px;
            display: none;
            opacity: 0;
             
        }
        &:hover{
            width: 7.2rem;
        }       

        &:hover>&-addtext {
            display: inline-block;
            opacity: 1;
            
        }


    }
    ///// remove from cart button
    &__removefromcart,
    &__removefromcartsolid,
    &__addtocartsolid {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        padding: .2rem 1.2rem;        
        border: 2px var(--color-fda-primary) solid;        
        position: relative;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 3px;
        background-color: #fff; 
        cursor: pointer;
        color: var(--color-fda-primary);
        display:inline-block;         
        width: 4rem;
        transition: all .12s linear;
        overflow: hidden;
        line-height: 20px;
        outline: 0;
        height: 28px;

        &-addicon{

            font-size: 2rem;
            line-height: 2rem;        
            display: inline-block;     
        }       
        &-minusicon{ 

            font-size: 2rem;
            line-height: 2rem;        
            display: inline-block;     
        } 
        

    }
   
    

    &__removefromcartsolid,
    &__addtocartsolid{

        //background-color: red; 
        width: 3rem;
        padding: 0;
       
        &-text{

            background-color: var(--color-fda-primary);
            color: $color-white;
            font-size: 2rem;
            line-height: 2rem;        
            display: inline-block;   
            font-size: 1.4rem;  
            width: 2rem;
        }  
        &-addicon{

            
            font-size: 2rem;
            line-height: 2rem;        
            display: inline-block;     
        }       
        &-minusicon{ 
            
            font-size: 2rem;
            line-height: 2rem;        
            display: inline-block;     
        } 
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }

     
}

.btn2 {
    border: 1px solid;    
    padding: .2rem .6rem;
    position: relative;
    width: 16rem;
    text-align: left;
    font-size: 1.4rem;
    cursor: pointer;
    
    &:visited,
    &:link{
        text-decoration: none;
        //color: var(--color-fda-primary);
         
    }
    &:hover{
        color:inherit;
    }
    &--red{

        color: var(--color-fda-primary);
        &:hover{
            color: var(--color-fda-primary);

        }

    }
    &:hover .arrow__right {
        left: 13.5rem;
     }

}

.arrow{

    &__right{
        
        position: absolute;
        left: 13rem;
        transition: all .2s linear;
    }
}
