//COLOR
$color-primary: #fc4a1a;
$color-secondary: #4abdac;
$color-teritiary: #f7b733;
$color-clean: #dfdce3;
$color-white: #fff;
$color-white-2: #aaa;
$color-black: #000;

//GRID DESIGN
$grid-width: 114rem;
$gutter-vertical :.4rem;
$gutter-horizantal :.6rem;

//MARGIN
$left-right-margin: 140px;
$left-right-margin-tab: 24px;
$left-right-margin-phone: 14px;