.payment-section{
    grid-column: center-start/center-end;
    margin:3rem 0;
}

.payment-container{
    display: flex;
}

.payment-method{
    flex-basis: 75%;
    box-shadow: 0px 0rem 2rem 0px rgba(67, 73, 72, 0.5);
    margin-right: 3rem;
    border-radius: 5px;
    padding: 2.5rem;

    &__label{
        display: inline-block;
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
}

.order-details{
    flex-basis: 25%;
}

.payment-type{
    list-style: none;

    &__item{
        margin-bottom: 1rem;

        &--text{
            padding-left: 1rem;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
}

.payment-wallet,
.payment-netbanking{
    list-style: none;
    display: flex;
    font-size: 1.3rem;

    &__item{
        flex-basis: 18rem;
        border-radius: 6px;
        margin: 1rem 2rem 1rem 0;
        background: $color-grey-light-3;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
        text-align: center;
    }

    &-banks{
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        margin-top: 1rem;

        & select{
            height: 3.5rem;
        } 
    }
    

    &__type{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        line-height: 2rem;
        padding: 1rem;
        cursor: pointer;

        &--icon{
            width:45%;
        }
    }
}

ul .hide{
    display: none;
}

.order-details #cart-summary .cart-items{
    margin:0;
}


.pay-selected{
    border: 2px solid green;
    box-shadow: none;
}

.pay-now{
    margin-top: 1rem;

    &__link{
        padding: 0;
        width: 100%;
        height: 5rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@include respond(tab-port)  {
    .payment-container{
        flex-direction: column;
    }

    .payment-method{
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .payment-wallet,
    .payment-netbanking{
    flex-wrap: wrap;
    &__item{
        flex-basis: 14rem;
    }
    }
 }

