.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.align {

    &--center,
    &--right,
    &--left {
        text-align: left;
        display: flex;
        flex: 0 0 100% !important;
        align-items: center;
        justify-content: center !important;
    }
    &--left {
        justify-content: start !important;
    }

    &--right {
        justify-content: end !important;
    }
}
.u-padding{
    padding: 1rem;
    &--0{
        padding: 0 !important;

    }
    &--2{
        padding: 2rem;

    }
    &--3{
        padding: 3rem;
    }
}
.u-hide{
    //display: none;
    visibility: hidden !important;
}
.u-displaynone {
    display: none !important;
}
.u-alert{
    color: red;
}
